@CHARSET "UTF-8";
/*--------------------------------*/
/*全体のレイアウト*/
/*--------------------------------*/
body{
	background:Wheat;
	margin:0;
	padding:0;
}

#container{
	width:90%;
	margin:auto;
}

#container_inner{
	background:#F0F8FF;
	padding:12px;
}

#content{
	width:80%;
	margin:25px 0;
	float:left;

}

#sidebar{
	width:19%;
	margin:25px 0;
	float:right;
}

#foot{
	clear:both;
}
#head,#content,#sidebar,#foot{
	background:Tan;
}
/*--------------------------------*/
/*ヘッダー*/
/*--------------------------------*/
#head{
	width:100%;
	height:30%;	
}
#head a{
	color:#000000;
	text-decoration:none;
}
#head h1{
	margin:0;
	padding-top:35px;
	padding-left:30px;
	font-size:34px;
	font-family:Georgia,sans-serif;
}
#head p{
	margin:0;
	padding-top:8px;
	padding-left:30px;
	font-size:16px;
}

/*--------------------------------*/
/*フッター*/
/*--------------------------------*/
#foot{
	background:none;
	border-top:solid 5px #ffcc00;
	padding-top:10px;
}
#foot p{
	color:#000000;
	font-size:12px;
	margin:0;
}

/*--------------------------------*/
/*ボディ*/
/*--------------------------------*/
#title{
	margin:0;
	padding-top:5px;
	padding-left:5px;
}

#content .post_title{
font-size:20px;

}

#content .post_date{
	padding-top:5px;
	padding-left:5px;
	font-size:10px;
}
#maintext{
	margin:0;
	padding-top:5px;
	padding-left:5px;
	font-size:16px;
}
